.container  {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.recs {
  height: 90%;
  width: 40%;
  background-color: #fef7ff;
  border-radius: 20px;
  border: 3px solid pink;
  margin: 10px;
  padding: 10px;  
}
